*.pdf

*.aux
*.log
*.toc
*.out
*.lof
*.lot
*.nav
*.snm
*.vrb
*.fls
*.synctex.gz
*.synctex.gz(busy)

*.bbl
*.blg
*.run.xml
*-blx.bib

*.fdb_latexmk

*.bak
*.sav
*.texstudio
.auctex-auto/
_region_.tex
figures/
figures2/
.vscode/
dicts/
dif.tex
main2.tex

.direnv/
.envrc
